  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              <a href="" class="navbar-brand">
                <span>
                  VibesGH
                </span>
              </a>
            </h5>
            <p>
              <i class="fa fa-phone " aria-hidden="true"></i>
               (+233) 54 939 0344
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              vibesgh@gmail.com
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
             Ghana's Primal Music Store. <br> <h5>Enjoy</h5> 
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="/">
                  Home
                </a>
              </li>
              <li>
                <a href="/music">
                  Musics
                </a>
              </li>
              <li>
                <a href="/albums">
                  Albums
                </a>
              </li>
              <li>
                <a href="/videos">
                  Videos
                </a>
              </li>
              <li>
                <a href="/contact">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Join the <br> Conversation
            </h5>
           
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://primedigitalgh.com/">Prime Digital</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->