    <aside class="trending">

      <div class="trendheader">
        <h3>Related Downloads</h3>
      </div>
      <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
          <h6>Kwaku Fleek Awake</h6>
          </div>
      </div>

      </a>
            <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
          <h6>Stonebwoy <br>ft Davido - Activate</h6>
          </div>
      </div>
      </a>

        <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
          <h6>Kelvyn Boy visa<br></h6>
        </div>
      </div>
      </a>

           <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
          <h6>Sarkodie - Hasta La Vista <br> ft Zlatan_Rexxie.mp3</h6>
        </div>
      </div>
      </a>

    </aside>