    <aside class="trending ">

      <div class="trendheader">
        <h3>Trending</h3>
      </div>
      <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
         <h6>Stonebwoy <br>ft Davido - Activate</h6>
          </div>
      </div>

      </a>
            <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
          <h6>Joey B - Akobam <br> ft Medikal, Kofi Mole</h6>
          </div>
      </div>
      </a>

        <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
          <h6>Shatta Wale Azee <br> Ft Ypee</h6>
        </div>
      </div>
      </a>

           <a href="#" >
         <div class="trend">
        <img src="images/t00.png" alt="" class="timage zoom">
        <div class="title">
         <h6>Kofi Mole <br> Feeling good</h6>
        </div>
      </div>
      </a>

    </aside>