 <div class="hero_area2">
    <!-- header section strats -->
    <header class="header_section ">
      <div class="header_top "  >
        <div class="container-fluid">
          <div class="top_nav_container">
            <div class="contact_nav">
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call :(+233) 54 939 0344
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Email : vibesgh@gmail.com
                </span>
              </a>
            </div>
            <from class="search_form">
              <input type="text" class="form-control" placeholder="Search here...">
              <button class="" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </from>
            <div class="user_option_box">
              <a href="/signin.html" class="account-link">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>
                  Login
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="header_bottom sticky-top">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container sticky-top ">
            <a class="navbar-brand" href="index.html">
              <span>
               VibesGH
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                 <li class="nav-item">
                  <a class="nav-link" href="/"> Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/music">Music</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="/albums">Albums</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/videos">Videos</a>
                </li>
                 <li class="nav-item active">
                  <a class="nav-link" href="/contact">Contact Us<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
          <div class="product-big-title-area">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="product-bit-title text-center">
                      <h2>Contact Us</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- end header section -->
  </div>

{{!--  --}}
  <div class="container">
    <div class="leftside">
      <h3>For Business</h3>
      <p>We are open For Business. WhatsApp, Call or Email us with detail. We Are happy doing business with you.</p>

    </div>


    
    <div class="rightside">

      <div class="callContact">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <h5>(+233) 54 939 0344</h5>
      </div>

      <div class="whatsappContact">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <h5>(+233) 54 939 0344</h5>
      </div>

      <div class="emailContact">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <h5>vibesgh@gmail.com</h5>
      </div>

    </div>

  </div>