{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
       <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Sarkodie - Hasta La Vista ft Zlatan_Rexxie.mp3</h3>
        <p>Sarkodie features Zlatan and Rexxie. He calls this Hasta La Vista </p>

        <audio controls>
            <source src="audio/10.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/10.mp3" download="Sarkodie - Hasta La Vista ft Zlatan_Rexxie"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

