{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Larruso-Gi-Dem-Remix-ft-Samini-x-Shatta-Wale.mp3</h3>
        <p>Larruso finally drops the Remix with shatta Wale and Samini. Most awaited remix.</p>

        <audio controls>
            <source src="audio/9.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/9.mp3" download="Larruso-Gi-Dem-Remix-ft-Samini-x-Shatta-Wale"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

