{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Kwaku Flick - Money</h3>
        <p>The Young Start, Kwaku Flick, calls this one Money.</p>

        <audio controls>
            <source src="audio/13.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/13.mp3" download="Kwaku Flick - Money"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

