{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Happy Day ft Kuami Eugene</h3>
        <p>Sarkodie drops another with Kuami Eugene. He calls it happy day</p>

        <audio controls>
            <source src="audio/11.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/11.mp3" download="Happy Day ft Kuami Eugene"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

