{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.jpg" alt="">
      </div>
      <div class="download-box">
        <h3>Joey B - Akobam ft Medikal, Kofi Mole</h3>
        <p>Joey B has this, ft the El Chairmano and Kofi Mole. He calls this AKOBAM.</p>

        <audio controls>
            <source src="audio/me.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/me.mp3" download="Joey B - Akobam ft Medikal, Kofi Mole"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}
</div>

