{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Akwaboah - Enjoy Ft Kelvyn Boy </h3>
        <p>Akwaboah music calls this Enjoy. He features Kelvyn Boy. Enjoy this.</p>

        <audio controls>
            <source src="audio/4.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/4.mp3" download="Akwaboah - Enjoy Ft Kelvyn Boy "><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

