{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Kweku Flick - Bye Bye </h3>
        <p>The young star, Kwaku Flick, calls this one Bye Bye </p>

        <audio controls>
            <source src="audio/7.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/7.mp3" download="Kweku Flick - Bye Bye"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

