{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>La Hustle RMX ft Joey B_ Chris Waddle</h3>
        <p>La Hustle, the street anthem has benn remixed ft Joey B and Chris Wale.</p>

        <audio controls>
            <source src="audio/12.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/12.mp3" download="La Hustle RMX ft Joey B_ Chris Waddle"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}
</div>

