{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>kelvyn boy -Momo ft DarkoVibes_ Mugeez</h3>
        <p>Kelvin boy drops a new one on his album, he calls it  momo ft Darkovibes and Mugeez</p>

        <audio controls>
            <source src="audio/8.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/8.mp3" download=" Kelvyn boy Momo ft DarkoVibes_ Mugeez"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

