{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Stonebwoy - Activate ft Davido</h3>
        <p>Bhim nation president , Stonebwoy, collabs with Davido on the single : Activate</p>

        <audio controls>
            <source src="audio/2.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/2.mp3" download="Joey B - Akobam ft Medikal, Kofi Mole"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

