{{>_download}}
      <!-- end header section -->

<div class=" container main-area">
          {{!-- Main Area --}}
    <section  class="display-section">
      <div class="cover-photo">
           <img src="images/t00.png" alt="">
      </div>
      <div class="download-box">
        <h3>Shatta Wale Azaa ft Ypee</h3>
        <p>SM president, Shatta Wale features Ypee of Kumerica. They call this Azaa.</p>

        <audio controls>
            <source src="audio/3.mp3" type="audio/mpeg">
         </audio>
         <a href="audio/3.mp3" download="Shatta Wale Azaa ft Ypee"><i class="fa fa-download download-icon" aria-hidden="true"></i></a>
    </section>
              {{!--Trending Area --}}
{{>_related}}

</div>

