 <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section ">
      <div class="header_top "  >
        <div class="container-fluid">
          <div class="top_nav_container">
            <div class="contact_nav">
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call :(+233) 54 939 0344
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Email : vibesgh@gmail.com
                </span>
              </a>
            </div>
            <div class="user_option_box">
              <a href="/signin.html" class="account-link">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>
                  Login
                </span>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="header_bottom mainmenu-area">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container sticky-top ">
            <a class="navbar-brand" href="index.html">
              <span>
               VibesGH
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/music"> Musics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/albums">Albums</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/videos">Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
        <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                     Trending 
                    </h1>
                    <p>
                     <h4>Stonebwoy ft Davido - Activate 
                       <span class="low-text">(Single)</span></h4> 
                    </p>
                  <a href="/download" class="zoom">
                      Download
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/t2.jpg" alt="" class="zoom">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Trending 
                    </h1>
                    <p>
                     <h4>Davido - A Better Time  
                       <span class="low-text">(Album)</span></h4> 
                    </p>
                    <a href="/download" class="zoom">
                      Download
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/t2.jpg" alt="" class="zoom">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                     Trending
                    </h1>
                    <p>
                      <h4>Joey B ft Medikal X Kofi Mole - Akobam  
                      <span class="low-text">(Single)</span></h4>
                    </p>
                    <a href="/download" class="zoom">
                      Download
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                   <img src="images/t2.jpg" alt="" class="zoom">
                  </div>
                </div>
              </div>
            </div>
          </div>
                    <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                     Trending
                    </h1>
                    <p>
                      <h4>Kelvyn Boy - Black Star  
                        <span class="low-text">(Album)</span></h4>
                    </p>
                   <a href="/download" class="zoom">
                      Download
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/t2.jpg" alt="" class="zoom">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <div class=" container main-area">
            {{!-- Main Area --}}
      <section  class="display-section">
        <a href="/music"><div class="songs zoom navs">
          <h1>Songs</h1>
          </div></a>
        <a href="/albums"><div class="albums zoom navs">
        <h1> Albums</h1></div></a>
        <a href="/videos"><div class="videos zoom navs"><h1>Videos</h1></div></a>
        <a href="/contact"><div class="contact zoom  navs"><h1>Contact us</h1></div></a>
      </section>
                {{!--Trending Area --}}
      <aside class="trending">

        <div class="trendheader">
          <h3>Trending</h3>
        </div>
        <a href="/download" >
          <div class="trend">
          <img src="images/t2.jpg" alt="" class="timage zoom">
          <div class="title">
            <h6>Stonebwoy <br>ft
              Davido - Activate</h6>
            </div>
        </div>
        </a>
              <a href="/download" >
          <div class="trend">
          <img src="images/t2.jpg" alt="" class="timage zoom">
          <div class="title">
            <h6>Stonebwoy <br>ft
              Davido - Activate</h6>
            </div>
        </div>
        </a>

          <a href="/download" >
          <div class="trend">
          <img src="images/t2.jpg" alt="" class="timage zoom">
          <div class="title">
            <h6>Stonebwoy <br>ft Davido - Activate</h6>
          </div>
        </div>
        </a>

            <a href="/download" >
          <div class="trend">
          <img src="images/t2.jpg" alt="" class="timage zoom">
          <div class="title">
            <h6>Stonebwoy <br>ft Davido - Activate</h6>
          </div>
        </div>
        </a>

      </aside>

  </div>

  