body {
  font-family: 'Poppins', sans-serif;
  color: #0c0c0c;
  background-color: #A9A9A9;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container h2 span {
  color: #66ff00;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area2 {
  position: relative;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}




.sub_page .hero_area {
  min-height: auto;
}


.header_section {
  background-color:  #808080;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .header_top {
  padding: 15px 0;
  background-color :#A9A9A9 ;
}

.header_section .header_bottom {
  padding: 10px 0;
}

.top_nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_nav a {
  color: #ffffff;
  margin-right: 10px;
}

.contact_nav a i {
  color: #66ff00;
}

.contact_nav a:hover {
  color: #66ff00;
}

.search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}

.search_form .form-control {
  border-radius: 5px 0 0 5px;
  height: 40px;
  width: auto;
  min-width: unset;
}

.search_form button {
  width: 45px;
  min-width: 45px;
  height: 40px;
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  background-color:#66ff00;
  border-radius: 0 5px 5px 0;
}

.user_option_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option_box a {
  color: #ffffff;
  margin-left: 25px;
  text-transform: uppercase;
}

.user_option_box a i {
  color: #66ff00;
}

.user_option_box a span {
  margin-left: 5px;
}

.user_option_box a:hover {
  color: #66ff00;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 28px;
  font-weight: bold;
}

.navbar-brand span {
  color: #66ff00;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #66ff00;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}


/*end header section*/

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  background: 
  url(../images/crossword.png) repeat scroll 0 0 #808080;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #000000;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 25px;
}

.slider_section .detail-box h1 span {
  color: #66ff00;
}

.slider_section .detail-box p {
  color: #000000;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #66ff00;
  color: #000000;
  border-radius: 20px;
  border: 1px solid #66ff00;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #66ff00;
}

.slider_section .img-box{
  width: 80%;
  margin-left: 100px;
}
.slider_section .img-box img {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 15px;
  width: auto;
  object-fit: contain;
}

/* end of slider section */

/* Title Area */
.product-big-title-area {
  background: 
  url(../images/crossword.png) repeat scroll 0 0 #808080;
}

.product-bit-title h2 {
  font-family: raleway;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;
  color: #fff;
}

/* End of title area */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Display area */

.main-area{
  background-color: #A9A9A9;
  height: 1200px;
  width: auto;
}

.display-section {
  background-color:#A9A9A9 ;
  width: 70%;
  height: auto;
  margin-top: 10px;
  float:left ;
  border-top: 10px solid #808080;
  border-bottom: 5px solid #808080;
  border-right:1px solid #808080 ;
  border-left:1px solid #808080 ;
  border-radius: 10px;

}

.display-section a {
  color: #000000;
}


.song {
  color: #000000;
  height: 200px;
}

.song h3{
  margin: 2px 0 10px 20px;
  font-weight: bold;
}


.song .image{
  float: left;
}

.image img{
  max-width: 100%;
  width: auto;
  height: 150px;
  object-fit: contain;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.song .songinfo {
  float: left;
  width: 65%;
  margin-top: 13px;
  margin-left: 32px;
}

.song .songinfo .readmorex{
  display: inline-block;
  padding: 6px 25px;
  background-color: #66ff00;
  color: #000000;
  border-radius: 20px;
  border: 1px solid #66ff00;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 180px;
}

.song .songinfo .readmorex:hover {
  background-color: transparent;
  color: #66ff00;
}

.zoom-button {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



/* Trending Area */ 
.trending{
  color: #000000;
  background-color:#A9A9A9 ;
  width: 30%;
  height: 600px;
  margin-top: 10px;
  float:right;
  border-top: 10px solid #808080 ;
  border-right:3px solid #808080 ;
  border-left:3px solid #808080 ;
  border-bottom:3px solid #808080 ;
  border-radius: 5px;
}


.trendheader h3{
  margin: 20px 0 0 20px;
  font-weight: bold;
}

div .trend{
margin: 20px 0 0 20px;
}
.trending a {
  color: #000000;
}
.trending a:hover {
  color: #66ff00;
}

.timage{
  max-width: 100%;
  width: auto;
  height: 90px;
  object-fit: contain;
  border-radius: 5px;
}

/* end Display area */


/* Next page Area */

div .next-page{
  width: 100%;
  height: 50px;
  background-color: #A9A9A9;
  margin-top: 20px;
}

div .next-page button{
  padding: 6px 20px;
  background-color: #66ff00;
  border-radius: 20px;
}

.wrapper-nxt{
  height: auto;
  width: auto;
  margin-left: 140px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$%$%$$$$$$$$$ */
.low-text{
  opacity: 0.5;
}

/* WhatsApp */
.whatsApp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:50px;
	right:60px;
	background-color:#25d366;
	color:#000;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  
}
.whatsApp i {
  margin-top: 16px;
  font-size: 30px;

}
.whatsapp-txt{
  font-size: 20px;
  position: relative;
  top: 20px;
  right:12px;
}

/* WhatsApp */


.info_section {
  border-top: 1px solid #ffffff;
  background: 
  url(../images/crossword.png) repeat scroll 0 0 #808080;
  color: #ffffff;
  padding: 90px 0 45px 0;
}

.info_section h5 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #ffffff;
}

.info_contact i  {
  color: #66ff00;
}

.info_section .info_links ul {
  padding: 0;
}

.info_section .info_links ul li {
  list-style-type: none;
}

.info_section .info_links ul li a {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 5px;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 25px;
  color: #66ff00;
  font-size: 24px;
}

/* footer section*/
.footer_section {
  position: relative;
  background: 
  url(../images/crossword.png) repeat scroll 0 0 #808080;
  text-align: center;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  padding: 20px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
  color: #66ff00;
}
/*# sourceMappingURL=style.css.map */

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Media queries */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {

  }  */

/* Small devices (portrait tablets and large phones, 600px and up) */
 /* @media only screen and (min-width: 600px) { 
  .slider_section .img-box{
    margin-left: 20px;
  }

  .main-area{
    background-color: #A9A9A9;
    height: auto;
    width: auto;
  }
  .display-section{
    width: 100%;
    float: none;
  }

  .song{
    height: 120px;
  }
  .song h3{
    font-size: smaller;
  }

  .image img {
    height: 80px;
  }

  .song .songinfo {
    margin-top: 0;
    font-size: 11px;
  }

  .song .songinfo a {
    display: none;
  }

  .trending{
    display: none;
  }

  .next-page{
    margin-top: 4px;
    height: 25px;
  }

  div .next-page button{
    padding: 0.5px 5px;
    background-color: #66ff00;
    border-radius: 20px;
    font-size: smaller;
  
  }
}   */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
 /* @media only screen and (min-width: 992px) {}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {}  */


/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */


/* main */

 @media (max-width: 1200px) {

}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .main-area{
    background-color: #A9A9A9;
    height:1100px;
    width: auto;
  }

  .product-big-title-area {
    height: 100px;

  }

  
.product-bit-title h2 {
  margin: -35px;
}

  .song{
    height: 180px;
  }
  .song h3{
    font-size: medium;
  }

  .image img {
    margin-top: 15px;
    height: 100px;
  }

  .song .songinfo {
    font-size: small;
  }

  .song .songinfo a {
    padding: 3px 15px;
    margin-left: 90px;
  }

  .trendheader h3{
    margin: 5px 0 0 20px;
    font-weight: bold;
    font-size: medium;
  }

  div .trend{
    margin: 8px 0 0 20px;
    }

  .trending a  h6{
   font-size: small;
  }
  

  .next-page{
    margin-top: 15px;
    height: 35px;
  }

  div .next-page button{
    padding: 3px 15px;
    background-color: #66ff00;
    border-radius: 20px;
    font-size: small;
  
  }

  .whatsApp{
    width:45px;
    height:45px;
  }

  .whatsApp i {
    margin-top: 8px;
  }
  .whatsapp-txt{
    margin-top: 20px;
    font-size: small;
    position: relative;
    top: 8px;
    right:12px;
    font-weight: bold;
  }

}

@media (max-width: 768px) {
  .slider_section .img-box{
    margin-left: 20px;
  }

  .main-area{
    background-color: #A9A9A9;
    height: auto;
    width: auto;
  }
  .display-section{
    width: 100%;
    float: none;
  }

  .song{
    height: 120px;
  }
  .song h3{
    font-size: smaller;
  }

  .image img {
    height: 80px;
  }

  .song .songinfo {
    margin-top: 0;
    font-size: 11px;
  }

  .song .songinfo .readmorex {
    display: none;
  }

  .trending{
    display: none;
  }

  .next-page{
    margin-top: 4px;
    height: 25px;
  }

  div .next-page button{
    padding: 0.5px 5px;
    background-color: #66ff00;
    border-radius: 20px;
    font-size: smaller;
  
  }
}

@media (max-width: 600px) {
  
}

@media (max-width: 480px) {
  
}

@media (max-width: 420px) {

}

@media (max-width: 376px) {
 
}

@media (min-width: 1200px) {

} 



.nothing{
  height: 80px;
  font-weight:bolder;
}
.nothing h3{
  font-weight:bolder;
}


